<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="container">
		<h2><%= user.details.firstname %>, Welcome to the Movie API!</h2>
		<div class="success">
			<% if (typeof message !== 'undefined') { %>
				<%= message %>
			<% } %>
		</div>
		<p>Here you can browse and search for your favorite movies.</p>
		
		<form action="/logout" method="POST">
			<button type="submit">Logout</button>
		</form>
	</div>
	
	<script src="/public/movie-api.js"></script>
	<script>
		// get the error message element
		const successMessage = document.querySelector('.success');
		// if the error message exists, fade it out after 2 seconds
		if (successMessage) {
			setTimeout(() => {
				successMessage.classList.add('fade-out');
			}, 1500);
		}
	</script>
</body>
</html>
