<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="container">
		<h2>COMP4513 - Assignment 2</h2>
		<div class="error">
			<% if (typeof message !== 'undefined') { %>
				<%= message %>
			<% } %>
		</div>
			<form action="/login" method="POST">
			<label for="username">Email</label>
			<input type="text" id="username" name="username" required>
			<label for="password">Password</label>
			<input type="password" id="password" name="password" required>

			<button type="submit">Login</button>
		</form>
	</div>
	<script src="/movie-api.js"></script>
	<script>
		// get the error message element
		const errorMessage = document.querySelector('.error');
		// if the error message exists, fade it out after 2 seconds
		if (errorMessage) {
			setTimeout(() => {
				errorMessage.classList.add('fade-out');
			}, 1500);
		}
	</script>
</body>
</html>


